{
  "root": true,
  "env": { "browser": true, "es2020": true },
  "extends": [
    //    "react-app",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",

    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["html", "react-refresh", "simple-import-sort"],
  "settings": {
    "import/resolver": { "typescript": true, "node": true }
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "import/no-cycle": "error",
    "import/no-self-import": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/no-named-as-default-member": "off",
    "import/no-named-as-default": "off",
    "@typescript-eslint/no-explicit-any": "off"
  }
}
